In [9]:
# Import needed packages
import pandas as pd

# Load the files. Specifile file path since the .data are in a subfolder.
df1 = pd.read_csv('MysteryData/Mystery1.data', header=None)
print("----\n\ndf1\n")
print(df1.head())

# Repeat for the other files
df2 = pd.read_csv('MysteryData/Mystery2.data', header=None)
print("----\n\ndf2\n")
print(df2.head())
df3 = pd.read_csv('MysteryData/Mystery3.data', header=None)
print("----\n\ndf3\n")
print(df3.head())
df4 = pd.read_csv('MysteryData/Mystery4.data', header=None)
print("----\n\ndf4\n")
print(df4.head())
df5 = pd.read_csv('MysteryData/Mystery5.data', header=None)
print("----\n\ndf5\n")
print(df5.head())

----

df1

   0    1    2    3    4    5    6    7    8    9    ...  490  491  492  493  \
0    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
1    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
2    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
3    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
4    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1

   494  495  496  497  498  499
0    1    1    1    1    1    1
1    1    1    1    1    1    1
2    1    1    1    1    1    1
3    1    1    1    1    1    1
4    1    1    1    1    1    1

[5 rows x 500 columns]
----

df2

   0    1    2    3    4    5    6    7    8    9    ...  592  593  594  595  \
0  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
1  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
2  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
3  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
4  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3

   596  597  598  599  600  601
0    3    3    3    3    3    3
1    3    3    3    3    3    3
2    3    3    3    3    3    3
3    3    3    3    3    3    3
4    3    3    3    3    3    3

[5 rows x 602 columns]
----

df3

   0     1     2     3     4     5     6     7     8     9     ...  1146  \
0     0     0     0     0     0     0     0     0     0     0  ...     0
1     0     0     0     0     0     0     0     0     0     0  ...     0
2     0     0     0     0     0     0     0     0     0     0  ...     0
3     0     0     0     0     0     0     0     0     0     0  ...     0
4    32    32    32    32    32    32    32    32    32    32  ...    32

   1147  1148  1149  1150  1151  1152  1153  1154  1155
0     0     0     0     0     0     0     0     0     0
1     0     0     0     0     0     0     0     0     0
2     0     0     0     0     0     0     0     0     0
3     0     0     0     0     0     0     0     0     0
4    32    32    32    32    32     0     0     0     0

[5 rows x 1156 columns]
----

df4

    0     1     2     3     4     5     6     7     8     9    ...  490  491  \
0  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
1  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
2  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
3  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
4  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12

   492  493  494  495  496  497  498  499
0   12   12   12   12   12   12   12   12
1   12   12   12   12   12   12   12   12
2   12   12   12   12   12   12   12   12
3   12   12   12   12   12   12   12   12
4   12   12   12   12   12   12   12   12

[5 rows x 500 columns]
----

df5

   0    1    2    3    4    5    6    7    8    9    ...  491  492  493  494  \
0    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
1    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
2    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
3    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
4    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1

   495  496  497  498  499  500
0    1    1    1    1    1    0
1    1    1    1    1    1    0
2    1    1    1    1    1    0
3    1    1    1    1    1    0
4    1    1    1    1    1    0

[5 rows x 501 columns]

In [11]:
print("----\n\ndf1\n")
df1.info()

print("----\n\ndf2\n")
df2.info()

print("----\n\ndf3\n")
df3.info()

print("----\n\ndf4\n")
df4.info()

print("----\n\ndf5\n")
df5.info()

----

df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 500 entries, 0 to 499
dtypes: int64(500)
memory usage: 1.9 MB
----

df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Columns: 602 entries, 0 to 601
dtypes: int64(602)
memory usage: 3.5 MB
----

df3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Columns: 1156 entries, 0 to 1155
dtypes: int64(1156)
memory usage: 13.0 MB
----

df4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 500 entries, 0 to 499
dtypes: int64(500)
memory usage: 1.9 MB
----

df5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 501 entries, 0 to 500
dtypes: int64(501)
memory usage: 1.9 MB

In [12]:
# The files have the same structure, so assemble them
df_combined = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# View the combined DataFrame
print(df_combined.info())
print(df_combined.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3734 entries, 0 to 3733
Columns: 1156 entries, 0 to 1155
dtypes: float64(656), int64(500)
memory usage: 32.9 MB
None
   0     1     2     3     4     5     6     7     8     9     ...  1146  \
0     1     1     1     1     1     1     1     1     1     1  ...   NaN
1     1     1     1     1     1     1     1     1     1     1  ...   NaN
2     1     1     1     1     1     1     1     1     1     1  ...   NaN
3     1     1     1     1     1     1     1     1     1     1  ...   NaN
4     1     1     1     1     1     1     1     1     1     1  ...   NaN

   1147  1148  1149  1150  1151  1152  1153  1154  1155
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 1156 columns]

In [15]:
print("----\n\ndf1\n")
print(df1.shape)  
print("----\n\ndf2\n")
print(df2.shape)  
print("----\n\ndf3\n")
print(df3.shape)  
print("----\n\ndf4\n")
print(df4.shape)  
print("----\n\ndf5\n")
print(df5.shape)

----

df1

(500, 500)
----

df2

(762, 602)
----

df3

(1472, 1156)
----

df4

(500, 500)
----

df5

(500, 501)