In [1]:
# Import needed packages
import pandas as pd

# Load the files. Specifile file path since the .data are in a subfolder.
df1 = pd.read_csv('MysteryData/Mystery1.data', header=None)
print("----\n\ndf1\n")
print(df1.head())

# Repeat for the other files
df2 = pd.read_csv('MysteryData/Mystery2.data', header=None)
print("----\n\ndf2\n")
print(df2.head())
df3 = pd.read_csv('MysteryData/Mystery3.data', header=None)
print("----\n\ndf3\n")
print(df3.head())
df4 = pd.read_csv('MysteryData/Mystery4.data', header=None)
print("----\n\ndf4\n")
print(df4.head())
df5 = pd.read_csv('MysteryData/Mystery5.data', header=None)
print("----\n\ndf5\n")
print(df5.head())

----

df1

   0    1    2    3    4    5    6    7    8    9    ...  490  491  492  493  \
0    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
1    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
2    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
3    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
4    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1

   494  495  496  497  498  499
0    1    1    1    1    1    1
1    1    1    1    1    1    1
2    1    1    1    1    1    1
3    1    1    1    1    1    1
4    1    1    1    1    1    1

[5 rows x 500 columns]
----

df2

   0    1    2    3    4    5    6    7    8    9    ...  592  593  594  595  \
0  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
1  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
2  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
3  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3
4  250  250    3    3    3    3    3    3    3    3  ...    3    3    3    3

   596  597  598  599  600  601
0    3    3    3    3    3    3
1    3    3    3    3    3    3
2    3    3    3    3    3    3
3    3    3    3    3    3    3
4    3    3    3    3    3    3

[5 rows x 602 columns]
----

df3

   0     1     2     3     4     5     6     7     8     9     ...  1146  \
0     0     0     0     0     0     0     0     0     0     0  ...     0
1     0     0     0     0     0     0     0     0     0     0  ...     0
2     0     0     0     0     0     0     0     0     0     0  ...     0
3     0     0     0     0     0     0     0     0     0     0  ...     0
4    32    32    32    32    32    32    32    32    32    32  ...    32

   1147  1148  1149  1150  1151  1152  1153  1154  1155
0     0     0     0     0     0     0     0     0     0
1     0     0     0     0     0     0     0     0     0
2     0     0     0     0     0     0     0     0     0
3     0     0     0     0     0     0     0     0     0
4    32    32    32    32    32     0     0     0     0

[5 rows x 1156 columns]
----

df4

    0     1     2     3     4     5     6     7     8     9    ...  490  491  \
0  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
1  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
2  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
3  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12
4  1000  1000  1000  1000  1000  1000  1000  1000  1000  1000  ...   12   12

   492  493  494  495  496  497  498  499
0   12   12   12   12   12   12   12   12
1   12   12   12   12   12   12   12   12
2   12   12   12   12   12   12   12   12
3   12   12   12   12   12   12   12   12
4   12   12   12   12   12   12   12   12

[5 rows x 500 columns]
----

df5

   0    1    2    3    4    5    6    7    8    9    ...  491  492  493  494  \
0    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
1    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
2    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
3    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1
4    1    1    1    1    1    1    1    1    1    1  ...    1    1    1    1

   495  496  497  498  499  500
0    1    1    1    1    1    0
1    1    1    1    1    1    0
2    1    1    1    1    1    0
3    1    1    1    1    1    0
4    1    1    1    1    1    0

[5 rows x 501 columns]

In [2]:
print("----\n\ndf1\n")
df1.info()

print("----\n\ndf2\n")
df2.info()

print("----\n\ndf3\n")
df3.info()

print("----\n\ndf4\n")
df4.info()

print("----\n\ndf5\n")
df5.info()

----

df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 500 entries, 0 to 499
dtypes: int64(500)
memory usage: 1.9 MB
----

df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Columns: 602 entries, 0 to 601
dtypes: int64(602)
memory usage: 3.5 MB
----

df3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Columns: 1156 entries, 0 to 1155
dtypes: int64(1156)
memory usage: 13.0 MB
----

df4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 500 entries, 0 to 499
dtypes: int64(500)
memory usage: 1.9 MB
----

df5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 501 entries, 0 to 500
dtypes: int64(501)
memory usage: 1.9 MB

In [3]:
# The files have the same structure, so assemble them
df_combined = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# View the combined DataFrame
print(df_combined.info())
print(df_combined.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3734 entries, 0 to 3733
Columns: 1156 entries, 0 to 1155
dtypes: float64(656), int64(500)
memory usage: 32.9 MB
None
   0     1     2     3     4     5     6     7     8     9     ...  1146  \
0     1     1     1     1     1     1     1     1     1     1  ...   NaN
1     1     1     1     1     1     1     1     1     1     1  ...   NaN
2     1     1     1     1     1     1     1     1     1     1  ...   NaN
3     1     1     1     1     1     1     1     1     1     1  ...   NaN
4     1     1     1     1     1     1     1     1     1     1  ...   NaN

   1147  1148  1149  1150  1151  1152  1153  1154  1155
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 1156 columns]

In [4]:
print("----\n\ndf1\n")
print(df1.shape)  
print("----\n\ndf2\n")
print(df2.shape)  
print("----\n\ndf3\n")# After further exploration, they share similar properties, but should not be combines
print(df3.shape)  
print("----\n\ndf4\n")
print(df4.shape)  
print("----\n\ndf5\n")
print(df5.shape)

----

df1

(500, 500)
----

df2

(762, 602)
----

df3

(1472, 1156)
----

df4

(500, 500)
----

df5

(500, 501)

After further exploration, the five files share similar properties, but should not be combines
# The great reveal about the mystery data
The professor revealed that the five files are one picture each.
In each picture, a value represents a pixel and a RGB color code.
Our goal is to transform the .data files into picturees, and fine-tune the color.

## Attemp 1: ask Chat GPT and try the method provided

In [5]:
import numpy as np
from PIL import Image

# Step 1: Load the .data file (adjust depending on the file format)
data = np.loadtxt('MysteryData/Mystery1.data')  # assuming it's a text file with rows of integers

# Step 2: Normalize data to ensure values fall within the 0-255 range for grayscale
min_val = data.min()
max_val = data.max()

# Normalize data to 0-255
normalized_data = (data - min_val) / (max_val - min_val) * 255

# Step 3: Convert to an image
# No need to convert to RGB triples, just create a grayscale image using the 2D array
image = Image.fromarray(np.uint8(normalized_data), 'L')  # 'L' mode for grayscale image

# Step 4: Save as PNG or JPG
image.save('output_image.png')

ValueError: could not convert string '1,' to float64 at row 0, column 1.

### Key Points
* Normalization:
    * This ensures that the pixel values are in the correct range for a grayscale image (0–255).
* Grayscale Image Mode: 
    * The 'L' mode tells Pillow that you're creating a grayscale image.

In [ ]:
import numpy as np
from PIL import Image

# Step 1: Load the .data file with comma as the delimiter
data = np.loadtxt('MysteryData/Mystery1.data', delimiter=',')  # Specify the delimiter

# Step 2: Normalize data to ensure values fall within the 0-255 range for grayscale
min_val = data.min()
max_val = data.max()

# Normalize data to 0-255
normalized_data = (data - min_val) / (max_val - min_val) * 255

# Step 3: Convert to an image
image = Image.fromarray(np.uint8(normalized_data), 'L')  # 'L' mode for grayscale image

# Step 4: Save as PNG or JPG
image.save('output_image.png')

In [ ]:
df1

In [ ]:
# Save the DataFrame to a text file, without headers or index
df1.to_csv('full_data.txt', index=False, header=False)

print("Data saved to 'full_data.txt'.")

In [ ]:
data.min()

In [ ]:
data.max()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Flatten the DataFrame to 1D if it's multi-dimensional (to avoid complications)
df1_flat = df1.values.flatten()

# Plot histogram using seaborn
sns.histplot(df1_flat, bins=70, kde=True)  # kde=True adds a smooth curve
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Distribution of Values in df1')
plt.show()

#### Handling the Bimodal Distribution
For U-shaped or bimodal distributions, normalization might not fully address the concentration of values around two distinct regions (0-100 and 900-1000). In such cases, you might want to:

* Use log transformation to compress large values and expand small ones, making the distribution more uniform. This works well when there is a large gap in value ranges

In [ ]:
import numpy as np

# Apply log transformation (add small constant to avoid log(0))
log_transformed_data = np.log1p(df1_flat)  # log1p(x) = log(1 + x) to handle zeros

# Plot histogram of log-transformed data
sns.histplot(log_transformed_data.flatten(), bins=50, kde=True)
plt.title('Log-Transformed Data Distribution')
plt.xlabel('Log Value')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Step 2: Normalize data to ensure values fall within the 0-255 range for grayscale
min_val = log_transformed_data.min()
max_val = log_transformed_data.max()

# Normalize data to 0-255
normalized_data = (data - min_val) / (max_val - min_val) * 255


# Step 3: Convert to an image
image = Image.fromarray(np.uint8(normalized_data), 'L')  # 'L' mode for grayscale image

# Step 4: Save as PNG or JPG
image.save('output_image_log.png')

#### Result - quite detaailded gray scale image. Just need some coloring.

# Picture 2

In [ ]:
# Pic 2
# Flatten the DataFrame to 1D if it's multi-dimensional (to avoid complications)
df2_flat = df2.values.flatten()

# Plot histogram using seaborn
sns.histplot(df2_flat, bins=70, kde=True)  # kde=True adds a smooth curve
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Distribution of Values in df2')
plt.show()

# Picture 3

In [ ]:
# pic 3
# Flatten the DataFrame to 1D if it's multi-dimensional (to avoid complications)
df3_flat = df3.values.flatten()

# Plot histogram using seaborn
sns.histplot(df3_flat, bins=70, kde=True)  # kde=True adds a smooth curve
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Distribution of Values in df3')
plt.show()

# Picture 4

In [ ]:
# pic 4
# Flatten the DataFrame to 1D if it's multi-dimensional (to avoid complications)
df4_flat = df4.values.flatten()

# Plot histogram using seaborn
sns.histplot(df4_flat, bins=70, kde=True)  # kde=True adds a smooth curve
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Distribution of Values in df4')
plt.show()

# Picture 5

In [ ]:
# pic 5
# Flatten the DataFrame to 1D if it's multi-dimensional (to avoid complications)
df5_flat = df5.values.flatten()

# Plot histogram using seaborn
sns.histplot(df5_flat, bins=70, kde=True)  # kde=True adds a smooth curve
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Distribution of Values in df5')
plt.show()